$primary-font: "Heebo", sans-serif;
$secondary-font: "Playfair Display", serif;
$black-col: #000;
$white-col: #fff;
$brown-col-1: #404d3c;
$brown-col-2: #60695d;
$bg-col-1: #f7e5d2;
$bg-col-2: #fbf2e8;