@use "variables" as *;
@use "mixins" as *;

@media screen and (max-width: 1000px) {
    main {
        section.menu {
            div.menu-items {
                grid-template-columns: 1fr 1fr !important;
            }
        }
        section.food {
            img {
                left: calc(90% - 60px);
            }
        }
    }
    footer {
        section.info {
            &>div {
                width: 30%;
                input {
                    width: clamp(20px, 30vw, 160px) !important;
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    main {
        section.description {
            grid-template-columns: 1fr;
            grid-template-areas: "a" "b" "c" "d" "e" "f";
            img {
                min-height: 0;
            }
            div {
                padding: 40px 20px;
                &:nth-child(4) {
                    grid-area: c;
                }
            }
            &.flip {
                grid-template-columns: 1fr;
                grid-template-areas: "a" "b";
                div {
                    &:nth-child(2) {
                        grid-area: a;
                    }
                }
            }
        }
        section.visit {
            padding: 40px 10px;
            h2 {
                padding-bottom: 20px;
            }
            div {
                padding: 0;
                flex-direction: column;
                span {
                    padding: 20px 0;
                    &:last-of-type {
                        border-left: none;
                    }
                }
            }
        }
        section.display {
            grid-template-columns: 1fr 1fr;
            img:last-of-type {
                grid-column-start: 1;
                grid-column-end: 3;
            }
        }
        section.text-desc {
            padding: 30px 0;
            h1 {
                padding: 10px;
            }
            p {
                padding: 8px 20px;
            }
        }
        section.menu {
            div.menu-items {
                grid-template-columns: 1fr !important;
            }
        }
        section.contact-info {
            padding: 20px 0;
            flex-direction: column;
            article {
                width: 90%;
                form {
                    width: 100%;
                    span {
                        flex-direction: column;
                    }
                    div {
                        width: 100%;
                    }
                }
                &:first-of-type {
                    border-right: 0;
                }
                &>div {
                    padding: 50px 0;
                }
            }
        }
    }

    footer {
        a.topscroll {
            display: block;
            position: fixed;
            bottom: 20px;
            right: 20px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: $white-col;
            border: 1px solid $brown-col-2;
            i {
                position: relative;
                font-size: 24px;
                left: 12px;
                top: 12px;
                color: $brown-col-2;
            }
        }
        section.info {
            flex-direction: column;
            padding: 20px 0;
            div {
                align-items: center;
                width: 100%;
                padding-bottom: 20px;
                p {
                    padding: 0 16px;
                    text-align: center;
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    main {
        section.display {
            grid-template-columns: 1fr;
            img:last-of-type {
                grid-column-start: 1;
                grid-column-end: 2;
            }
        }
        section.food {
            img {
                scale: 0.3;
                left: calc(75% - 60px);
            }
        }
        section.contact-info {
            article {
                &>div {
                    grid-template-columns: 1fr;
                    gap: 30px;
                }
            }
        }
    }
}