@use "variables" as *;
@use "mixins" as *;

body {
    margin: 0;
    padding: 0;
    font-family: $primary-font;
    color: $black-col;
    font-size: 16px;
    font-weight: 300;
}

p {
    padding: 0;
    margin: 0;
}

.f-center {
    @include flex();
}

header {
    position: sticky;
    top: 0;
    left: 0;
    height: 90px;
    width: 100%;
    z-index: 10;
    nav {
        padding: 0 !important;
        height: 100%;
        &>div {
            background-color: $bg-col-1;
            height: 100%;
            justify-content: space-between;
            padding: 0 !important;
            a.navbar-brand {
                padding-left: 30px;
                padding-bottom: 50px;
                position: relative;
                p {
                    display: inline;
                    position: absolute;
                    font-family: $secondary-font;
                    top: -2px;
                    left: 66px;
                    &:first-of-type {
                        top: -14px;
                        left: 30px;
                        font-size: 40px;
                    }
                    &:last-of-type {
                        color: $brown-col-2;
                        top: 0px;
                        left: 60px;
                        font-size: 40px;
                    }
                }
            }
            button.navbar-toggler {
                border-width: 0;
                &:focus {
                    box-shadow: none;
                }
                i {
                    display: none;
                }
                &[aria-expanded="true"] {
                    span {
                        display: none;
                    }
                    i {
                        display: block;
                    }
                }
            }
            div {
                flex-grow: 0 !important;
                height: 100%;
                div.navbar-nav {
                    a {
                        color: $brown-col-1;
                        background-color: $bg-col-1;
                        transition: 0.4s ease;
                        font-size: 14px;
                        padding: 10px 50px !important;
                        &:hover {
                            i {
                                color: $brown-col-1;
                            }
                            color: $brown-col-2;
                        }
                        i {
                            color: $brown-col-1;
                            padding: 8px;
                            font-size: 24px;
                        }
                        &:last-of-type{
                            font-size: 16px !important;
                        }
                    }
                }
            }
        }
        
    }
}

main {
    section.intro {
        width: 100%;
        height: clamp(500px, 60vw, 760px);
        color: $white-col;
        background-image: url("../images/bg.webp");
        @include bg-cover();
        div.overlay {
            width: 100%;
            height: 100%;
            padding: clamp(5px, 6%, 60px);
            background-color: rgba(0, 0, 0, 0.3);
            @include flex(center, start, 30px);
            flex-flow: column;
            h2 {
                font-size: 20px;
                font-weight: 300;
            }
            h1 {
                font-family: $secondary-font;
                font-weight: 800;
                font-size: clamp(30px, 5vw, 60px); 
                max-width: 700px;
            }
            a {
                @include button-white();
                &:first-of-type {
                    margin-right: 30px;
                    margin-bottom: 20px;
                }
            }
        }
    }
    section.scrollbar {
        height: 70px;
        background-color: $brown-col-2;
        color: $white-col;
        @include flex(space-between, center);
        i {
            font-size: 24px;
            padding: 0 24px;
            cursor: pointer;
        }
        p {
            font-size: clamp(10px, 5vw, 20px);
            display: inline;
            position: absolute;
            transform: translate(-50%, -50%);
            animation: slidebar linear infinite 10s;
            &:last-of-type {
                animation-delay: 5s;
                opacity: 0%;
            }
        }
    }
    section.description {
        display: grid;
        grid-template-columns: 1fr 1fr;
        div {
            @include flex(center, start, 12px);
            flex-direction: column;
            padding: 10px 20px;
            max-width: 400px;
            margin: auto;
            h2 {
                font-size: clamp(30px, 5vw, 70px);
                font-family: $secondary-font;
            }
            p {
                margin-bottom: 6px;
                &:first-of-type {
                    font-size: 20px;
                }
                &:last-of-type {
                    font-size: 16px;
                }
            }
            a {
                @include button-black();
            }
        }
        img {
            width: 100%;
            min-height: 300px;
        }
    }
    section.visit {
        background-color: $bg-col-2;
        flex-direction: column;
        padding: 50px 0;
        text-align: center;
        h2 {
            font-size: clamp(30px, 10vw, 60px);
            font-family: $secondary-font;
        }
        div {
            @include flex();
            padding: 50px;
            span {
                padding: 0 100px;
                @include flex(flex-start);
                flex-direction: column;
                &:last-of-type {
                    border-left: 1px solid $black-col;
                }
            }
            h3 {
                font-size: 27px;
                font-family: $secondary-font;
                margin-bottom: 20px;
            }
        }
    }
    section.display {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        background-color: $brown-col-1;
        img {
            width: 100%;
        }
    }
    section.text-desc {
        @include flex();
        flex-direction: column;
        background-color: $bg-col-2;
        padding: 80px 0;
        text-align: center;
        h1 {
            font-size: clamp(40px, 12vw, 60px);
            font-family: $secondary-font;
            font-weight: 700;
            padding: 30px 0;
        }
        p {
            font-size: 20px;
        }
    }
    section.food {
        background-color: $brown-col-2;
        color: $white-col;
        padding: 20px 0;
        position: relative;
        h1 {
            font-size: clamp(20px, 6vw, 35px);
            font-weight: 300;
            padding: 0 20px !important;
        }
        img {
            position: absolute;
            transform: translate(-50%, -50%);
            scale: 0.45;
            left: calc(80% - 60px);
            top: -70%;
        }
    }
    section.menu {
        @include flex(center, center, 50px);
        flex-direction: column;
        padding: 50px 10px;
        text-align: center;
        h2 {
            padding-top: 50px;
            font-size: 32px;
            font-family: $secondary-font;
            font-weight: 100;
        }
        h3 {
            font-size: 24px;
            font-family: $secondary-font;
            font-weight: 100;
        }
        div.menu-items {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 80px;
            div {
                @include flex(center, center, 10px);
                flex-direction: column;
                max-width: 300px;
                font-size: 15px;
                p:first-of-type {
                    font-size: 18px;
                }
                p:last-of-type {
                    padding-top: 14px;
                    font-size: 18px;
                }
            }
        }
    }
    section.map {
        width: 100%;
        height: 400px;
        iframe {
            width: 100%;
            height: 100%;
        }
    }
    section.contact-info {
        @include flex();
        padding: 100px 0;
        article {
            @include flex();
            width: 50%;
            font-size: 14px;
            form {
                span {
                    @include flex();
                }
                div {
                    @include flex(flex-start, start);
                    flex-direction: column;
                    padding: 10px;
                    textarea {
                        resize: none;
                    }
                    input, textarea {
                        border: 1px solid $black-col;
                        background-color: transparent;
                        padding: 8px;
                        width: 100%;
                        margin: 1px;
                        &:hover {
                            margin: 0;
                            border-width: 2px;
                        }
                        &:focus {
                            margin: 0;
                            outline: none;
                            border-width: 2px;
                            border-color: $brown-col-2;
                        }
                    }
                }
                button {
                    width: calc(100% - 20px);
                    color: $white-col;
                    border: 1px solid $brown-col-2;
                    background-color: $brown-col-2;
                    transition: 0.4s ease;
                    padding: 12px 30px;
                    margin: 10px;
                    &:hover {
                        background-color: $white-col;
                        color: $brown-col-2;
                    }
                }
            }
            &>div{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 80px;
                font-weight: 200;
                span {
                    @include flex(flex-start, start, 20px);
                    flex-direction: column;
                    width: 100%;
                    left: 50%;
                    &>i {
                        font-size: 28px;
                    }
                    p:first-of-type {
                        font-size: 20px;
                        font-family: $secondary-font;
                    }
                    a, a:visited, a:hover, a:focus {
                        color: $black-col !important;
                        text-decoration: none;
                    }
                    div {
                        i {
                            padding-right: 8px;
                            font-size: 20px;
                        }
                    }
                }
            }
            &:first-of-type {
                border-right: 1px solid $black-col;
            }
        }
    }
}

footer {
    a.topscroll {
        display: none;
    }
    section.info {
        @include flex(space-evenly, center);
        background-color: $brown-col-1;
        color: $white-col;
        padding: 50px 0;
        div {
            @include flex(center, start, 16px);
            flex-direction: column;
            width: 20%;
            h3 {
                padding-top: 12px;
                font-family: $secondary-font;
                font-size: 27px;
            }
            a {
                font-family: $secondary-font;
                font-size: clamp(30px, 10vw, 50px);
                color: $white-col;
                text-decoration: none;
                font-weight: 700;
            }
            form {
                label {
                    font-size: 14px;
                }
                div {
                    @include flex(flex-start, start);
                    flex-wrap: nowrap;
                    flex-direction: row;
                    input {
                        @include input();
                        height: 40px;
                        width: 180px;
                        color: $white-col;
                    }
                    button {
                        @include button-white();
                        padding: 0 28px;
                        height: 40px;
                        border-left: 0px;
                    }
                }
            }
        }
    }
    section.credit {
        min-height: 40px;
        background-color: $bg-col-2;
        font-size: 14px;
        text-align: center;
        @include flex();
        a, a:visited, a:hover, a:focus {
            color: $black-col !important;
        }
    }
}

@keyframes slidebar {
    0%, 50%, 100% {
        opacity: 0%;
    }

    5%, 45% {
        opacity: 100%;
    }
}

.header-small {
    font-size: clamp(20px, 3vw, 50px) !important;
    font-weight: 700 !important;
}

.box-big {
    max-width: 600px !important;
}